@model Eylul_Webproje.Models.Category

<h2>Kategori Ekle</h2>

<form asp-action="CreateCategory" method="post">
    <div class="mb-3">
        <label>Kategori Adı</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button class="btn btn-success">Kaydet</button>
    <a asp-action="Categories" class="btn btn-secondary">Geri</a>
</form>

