@model Eylul_Webproje.Models.Category

<h2>Kategori Düzenle</h2>

<form method="post">
    <label>Kategori Adı:</label>
    <input asp-for="Name" />
    <br /><br />

    <button type="submit">Güncelle</button>
</form>
