@model Eylul_Webproje.Models.Category

<h2>Kategori Düzenle</h2>

<form asp-action="EditCategory" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Kategori Adı</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button class="btn btn-warning">Güncelle</button>
    <a asp-action="Categories" class="btn btn-secondary">Geri</a>
</form>