@model List<ApplicationUser>

<h2 class="admin-title">Kullanıcı Listesi</h2>

<div class="admin-card">

    <table class="admin-table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Rol Atama</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>

                    <td>
                        <a asp-action="AssignRole" asp-route-id="@user.Id" class="assign-btn">
                            Rol Ata
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>