@model List<Eylul_Webproje.Models.ApplicationUser>

<h2>Kullanıcı Listesi</h2>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Email</th>
            <th>Rol Atama</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a asp-action="AssignRole" asp-route-id="@user.Id">Rol Ata</a>
                </td>
            </tr>
        }
    </tbody>
</table>
