@page
@model Eylul_Webproje.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="login-page-center">
    <div class="login-container">

        <!-- Başlık (Register) -->
        <h2>@ViewData["Title"]</h2>

        <!-- Validation -->
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <form id="registerForm" method="post" asp-route-returnUrl="@Model.ReturnUrl">

            <!-- Role Selection -->
            
            <div class="role-selection">

                <label class="role-label">
                    <input type="radio" asp-for="Input.Role" value="Student" checked>
                    Öğrenci
                    <span class="underline"></span>
                </label>

                <label class="role-label">
                    <input type="radio" asp-for="Input.Role" value="Instructor">
                    Eğitmen
                    <span class="underline"></span>
                </label>

            </div>
            <span asp-validation-for="Input.Role" class="text-danger d-block mb-2"></span>

            <!-- Email -->
            <label class="input-label">Email *</label>
            <input asp-for="Input.Email"
                   class="input-box"
                   autocomplete="username"
                   placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <!-- Password -->
            <label class="input-label" style="margin-top:15px;">Password *</label>
            <input asp-for="Input.Password"
                   class="input-box"
                   autocomplete="new-password"
                   placeholder="Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <!-- Confirm Password -->
            <label class="input-label" style="margin-top:15px;">Confirm Password *</label>
            <input asp-for="Input.ConfirmPassword"
                   class="input-box"
                   autocomplete="new-password"
                   placeholder="Confirm Password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            <!-- Button -->
            <button id="registerSubmit" type="submit" class="login-btn mt-3">
                Register <span>➜</span>
            </button>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
