@model Eylul_Webproje.Models.Module
@{
    ViewData["Title"] = "Modül Ekle";
}

<div class="form-card">
    <h2>Modül Ekle</h2>

    <form asp-action="AddModule" method="post">

        <label>Modül Başlığı</label>
        <input asp-for="Title" placeholder="Örn: Giriş ve Kurulum" />

        <label>İçerik</label>
        <textarea asp-for="Content" rows="4"
                  placeholder="Modül içeriğini yazın"></textarea>

        <button type="submit" class="btn-form w-100">
            Modül Ekle
        </button>
    </form>

    <a asp-action="MyCourses" class="back-link">← Kurslara Dön</a>
</div>
