@model Eylul_Webproje.Models.Course
@{
    ViewData["Title"] = "Yeni Kurs Oluştur";
}

<div class="form-card">
    <h2>Yeni Kurs Oluştur</h2>

    <form asp-action="CreateCourse" method="post">

        <label>Kurs Başlığı</label>
        <input asp-for="Title" placeholder="Örn: C# ile Algoritma" />

        <label>Açıklama</label>
        <textarea asp-for="Description" rows="4"
                  placeholder="Kurs içeriğini kısaca açıklayın"></textarea>

        <label>Kategori</label>
        <input asp-for="Category" placeholder="Örn: Programlama" />

        <button type="submit" class="btn-form w-100">
            Kursu Oluştur
        </button>
    </form>

    <a asp-action="MyCourses" class="back-link">← Kurslarıma Dön</a>
</div>
