@{
    ViewData["Title"] = "Eğitmen Paneli";
}

<h2 class="page-title">Eğitmen Dashboard</h2>

<div class="dashboard-card">
    <p class="stat-text">
        Toplam Kurs Sayınız:
        <span class="stat-number">@ViewBag.CourseCount</span>
    </p>

    <div class="dashboard-links">
        <a asp-action="MyCourses" class="dash-link">📚 Kurslarım</a>
        <a asp-action="CreateCourse" class="dash-link">➕ Yeni Kurs Oluştur</a>
    </div>
</div>
